<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="x-apple-disable-message-reformatting" />
    <title>Notificación PAC</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #f6f6f6;
      }
	  .obs {
        overflow-x: auto;
        background-color: #f9f9f9;
        border-radius: 6px;
        font-size: 15px;
      }
    </style>
  </head>

  <body style="margin:0;padding:0;background-color:#f6f6f6;">

    <div
      style="
        display: flex;
        justify-content: center;
        padding: 40px 20px;
      "
    >
      <!-- Contenedor del mensaje -->
      <div
        role="article"
        aria-roledescription="email"
        lang="es"
        style="
          padding: 40px 32px;
          max-width: 600px;
          width: 100%;
          background-color: #ffffff;
          border-radius: 12px;
          box-shadow: 0 2px 8px rgba(0,0,0,0.05);
          text-align: left;
          line-height: 1.7;
          letter-spacing: 0.3px;
          font-size: 16px;
          color: #333333;
        "
      >
        <!-- Logo -->
        <div style="background-color:#ffffff;text-align: center; margin-bottom: 36px;">
          <img
            src="https://honesolutions.blob.core.windows.net/documents/photo5154410902588598764.jpg"
            alt="Logo Hone Solutions"
            style="width: 160px; mix-blend-mode: darken;"
          />
        </div>

        <!-- Contenido -->
        <p style="margin-bottom: 20px;">
          Reciba un cordial saludo del Plan de Atención Complementaria de NUEVA EPS.
        </p>

        <p style="margin-bottom: 20px;">
          Estimado usuario(a),
        </p>

        <p style="margin-bottom: 24px;">
          Hemos recibido tu notificación de datos inconsistentes bajo el numero de
          <br>
          <strong>Ticket: {{idTickets}}</strong>.
          <br>
          <small>En el directorio médico de tu plan complementario.</small>
        </p>

        <p style="margin-bottom: 24px;">
          Esta radicación será tramitada por
          el área correspondiente. Una vez validada, <br> se dará respuesta por este mismo
          medio en los próximos <strong>5 días hábiles</strong>.
        </p>

        <p style="margin-bottom: 24px;">
          <strong>Correo relacionado para respuesta:</strong><br />
          {{email}}
        </p>

        <hr>
        <p style="margin-bottom: 12px;">
         <strong>Observaciones:</strong>
        </p>
        <div class="obs" style="margin: 0 0 10px 0;">
          {{{observaciones}}}
        </div>
      </div>
    </div>

  </body>
</html>
